[submodule "celeste/libTAS"]
	path = celeste/libTAS
	url = git@github.com:hypetrainai/libTAS.git
[submodule "celeste/cule"]
	path = celeste/cule
	url = https://github.com/NVLabs/cule
[submodule "celeste/atari-py"]
	path = celeste/atari-py
	url = https://github.com/openai/atari-py
