[submodule "celeste/libTAS"]
	path = celeste/third_party/libTAS
	url = git@github.com:hypetrainai/libTAS.git
[submodule "celeste/atari-py"]
	path = celeste/third_party/atari-py
	url = https://github.com/openai/atari-py
[submodule "celeste/third_party/rl-baselines-zoo"]
	path = celeste/third_party/rl-baselines-zoo
	url = https://github.com/araffin/rl-baselines-zoo.git
[submodule "celeste/third_party/baselines"]
	path = celeste/third_party/baselines
	url = https://github.com/openai/baselines.git
